@using ToDoList.Frontend.Views
@using ToDoList.Frontend.Clients
@inject IToDoItemsClient ToDoItemsClient
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h1>Dashboard</h1>

<table class="table table-hover mt-5">
    <thead class="table-dark">
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Completed</th>
        <th>Actions</th>
    </thead>
    <tbody>
        @if (toDoItems is null)
        {
            <p>Nacitam...</p>
        }

        @if (toDoItems is not null)
        {
            @foreach (var toDoItem in toDoItems)
            {
                <tr class=@ColoredRowByCompletedFlag(@toDoItem.IsCompleted)>
                    <td>@toDoItem.ToDoItemId</td>
                    <td>@toDoItem.Name</td>
                    <td>@toDoItem.Category</td>
                    <td>@toDoItem.Description</td>
                    <td>@toDoItem.IsCompleted</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-success" @onclick="() => EditItem(toDoItem)"><i
                                    class="bi bi-pencil-square"></i></button>
                            <button class="btn btn-danger" @onclick="() => DeleteItem(toDoItem)"><i
                                    class="bi bi-trash"></i></button>
                            <button class="btn btn-warning btn-sm" @onclick="() => ToggleCompletion(toDoItem)"><i
                                    class="bi @(toDoItem.IsCompleted ? "bi-check-circle" : "bi-circle")"></i></button>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<button class="btn btn-success" @onclick="OrderById">Seradit Podle Id</button>
<button class="btn btn-success" @onclick="OrderByName">Seradit Podle Jmena</button>

@code
{
    protected override async Task OnInitializedAsync()
    {
        toDoItems = await ToDoItemsClient.ReadItemsAsync();
    }

    private List<ToDoItemView>? toDoItems;

    public void OrderByName()
    {
        toDoItems = toDoItems?.OrderBy(item => item.Name).ToList();
    }
    public void OrderById()
    {
        toDoItems = toDoItems?.OrderBy(item => item.ToDoItemId).ToList();
    }

    public void EditItem(ToDoItemView toDoItem)
    {
        NavigationManager.NavigateTo($"editToDoItem/{toDoItem.ToDoItemId}");
    }

    public async void DeleteItem(ToDoItemView toDoItem)
    {
        // TODO: call refresh after delete, added extra window with
        // question if item should be deleted
        await ToDoItemsClient.DeleteItemAsync(toDoItem);
    }

    public async Task ToggleCompletion(ToDoItemView toDoItem)
    {
        toDoItem.IsCompleted = !toDoItem.IsCompleted;
        await ToDoItemsClient.UpdateItemAsync(toDoItem);
    }

    public string ColoredRowByCompletedFlag(bool isCompleted)
    {
        if (isCompleted)
            return "table-info";

        return "table-success";
    }
}
